
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>VD</title>
    <link rel=StyleSheet href="style.css" type="text/css" media=screen>

    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" type="text/css" />

   

</head>

<body>
    <div id="page">
        <div id="header">
            <h1>SocialNetwork</h1>

        </div>


        <div id="sidebar">
            @if (User.Identity.IsAuthenticated)
{
                <div>
                    <ul>
                        <li> @Html.ActionLink("Моя страница", "Index", "Home")</li>
                        <li> @Html.ActionLink("Мои друзья", "Index", "Friends")</li>
                        <li> @Html.ActionLink("Мои сообщения", "Index", "Messages")</li>
                        <li>  @Html.ActionLink("Мои фотографии", "Index", "Image")</li>
                       <li>  @Html.ActionLink("Моя музыка", "Index", "Music")</li>
                        <li> @Html.ActionLink("Поиск друзей", "Index", "Search")</li>
                        <li>  @Html.ActionLink("Выход", "Logout", "Account")</li>
                    </ul>
                </div>
            }
            </div>


                <div id="mainarea">
                    @RenderSection("scripts", required: false)
                    @RenderBody()

                </div>
                
                <div id="footer">
                    SocialNetwork by VD
                </div>

                </div>


        </body>
    </html>
